Answer to Q.No. 1
Python is a programing language whhich has salient features i.e;

1. Widely used across the industry and there is a strong community which makes regular updates for the purpose of welfare of user.

2. Availability of large library for the use case of its users makes it a popular choice amongst the users of this programing language.

3. Easy to understand for a beginners. Even new users can understand and use this programing language.

Answer to Q No. 2:

Pre Defined Keywords:

Pre Defined keywords are the terms that have a specific use case and meaning in the language. It is important to note that pre defined keywords cant be used as variable in the language.

They play a significant role in proper structuring of the code to executed by a user.

Below are some of examples of pre defined keywords:

1. "True" : A boolean that represents true value.
2. "False" : A boolean that represents false value.
3. "Break" : To discontinue a loop before its all iterations are completed.
4. "Continue" : To skip a particular iteration that a user mentions in the code.

Answer to Q No. 3: Mutable and Immutable objects:

Mutability is a concept in which data type or content or its content could be changed once it created. It can be also termed as data assignment.

For Example:

In [1]:
list_cont = [1,5,7,9.1,"mudit"]
list_cont

[1, 5, 7, 9.1, 'mudit']

In [3]:
list_cont[3]

9.1

In [4]:
list_cont[3] = 10

In [5]:
list_cont

[1, 5, 7, 10, 'mudit']

Immutability:

Objects or state of a data containers which cant be changed post its creation is known  to be the concept of immutability.
String is a data type of immutability.
For Example:

In [8]:
a = "pwskills"
a

'pwskills'

In [9]:
a[0]

'p'

In [10]:
a[0] = "k"
#string is a immutable object

TypeError: 'str' object does not support item assignment

Answer to Q. No. 4 : Types of operators in Python:

Operators are special keywords to perform operations so that data could be computed and managed effectively. There are various types of operators i.e;

1. Arithematic Operator:

These operators are used to make  mathematical operations. For example.

In [1]:
a=2
b=3
a*b

6

2. Modulus Operator:

Modulus operator displays the remainder once a number is divided by another. For example:

In [2]:
21 % 4

1

3. Comparison Operator:

It compares two values or two variables. For example:

In [3]:
5==5

True

In [4]:
5>3

True

4. Floor Operator:

It is a mathematical function that rounds off the number to nearest integer. For Example:

In [5]:
4//3

1

5. Assignment Operator:

Under assignment operator, a certain value is asaigned to a particular variable.
For example:

In [8]:
a=5
a+5

10

6. Membership Operator:

Membership operator is used to check that whether a value exists in a list or not.
For example:

In [9]:
a= "pwskills"
"p" in a

True

In [10]:
"p" not in a

False

7. Identity Operator:

Identity Function is used to check that whether two variables are same.
For  Example:

In [11]:
a=2
b=3
a is b

False

In [12]:
a is not b

True

Answer to Q. No 5:
Typecasting:

Typecasting in python means changing the data type of a value/object.
For example converting integer in float and vice versa etc.

In [13]:
a = "2"
b = 3
a+b
#as we cant add a string to an integer

TypeError: can only concatenate str (not "int") to str

In [14]:
int(a)+b

5

In [16]:
#integer to float
a=2
a = float(a)
a

2.0

Answer to Q. No. 6:

Conditionals:
Conditional code will be executed if the pre conditions mentioned are fulfilled else not.

There are three types of conditional statements:

a. if statements
b. else if statements
c. elif statements

In [17]:
a = 100
if a>0 : #execute the code, if the condition is true:
  print("The number is greater than 0")

The number is greater than 0

In [19]:
#if else statements
weather = "sunny"
if weather == "sunny":
  print("I will play cricket")
else:
  print("I will watch TV")

I will play cricket

In [20]:
#if else statements
weather = "rainy"
if weather == "sunny":
  print("I will play cricket")
else:
  print("I will watch TV")

I will watch TV

Elif Statements:

Elif Statements are used in the code if we have to put multiple pre conditions in the code.
For example:

In [28]:
age = 27
if age >= 18:
  print("Adult")
elif  18<age<= 60:
    print("Senior Citizen")
else:
  print("Minor")

Adult

Answer to Q. No. 7:

Loops:

It allows to execute the code repeatedly.
Loops are of two types i.e;

a. While loops
b. For Loops

In [30]:
#while loop
n=7
i=1
while i<n:
  print(i)
  i=i+1

1
2
3
4
5
6

In [33]:
#for loop
for i in "pwskills":
  print(i)

p
w
s
k
i
l
l
s